[Unit]
Description=Network Log Manager - Historical Search Cache Scheduler

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=netlog-archive-cache.service

[Install]
WantedBy=timers.target
