<VirtualHost *:80>
    ServerName @@HOSTNAME_FQDN@@
    RewriteEngine On
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    ErrorLog ${APACHE_LOG_DIR}/netlog-manager-error.log
    CustomLog ${APACHE_LOG_DIR}/netlog-manager-access.log combined
</VirtualHost>

<VirtualHost *:443>
    ServerName @@HOSTNAME_FQDN@@
    SSLEngine on
    SSLCertificateFile /etc/ssl/netlog-manager/netlog-manager.crt
    SSLCertificateKeyFile /etc/ssl/netlog-manager/netlog-manager.key
    SSLProtocol -all +TLSv1.2 +TLSv1.3

    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Proto "https"
    ProxyPass        / http://127.0.0.1:8080/
    ProxyPassReverse / http://127.0.0.1:8080/

    ErrorLog ${APACHE_LOG_DIR}/netlog-manager-ssl-error.log
    CustomLog ${APACHE_LOG_DIR}/netlog-manager-ssl-access.log combined

    <Location />
        Require all granted
    </Location>
</VirtualHost>
